<div class="container-fluid min-vh-100 ">
    <div class="container my-5 py-4">
        <h1 class="text-center mb-4 display-5"><i class="fas fa-book-open me-2"></i>Guides</h1>
        <p class="text-center lead text-muted">Welcome to our comprehensive guide! Follow these steps to generate your keys, upload your files, and securely share your encoded data.</p>
        
        <div class="list-group mt-4">
          <!-- Step 1 -->
          <a routerLink="/guides/key-gen"  class=" list-group-item list-group-item-action clickable d-flex align-items-center">
            <i class="fas fa-key fa-lg text-primary me-3"></i>
            <div>
              <h5 class="mb-1">Step 1: Generating Your Keys</h5>
              <p class="mb-1 ">Begin by generating your unique keys, the essential first step in securing your data.</p>
            </div>
          </a>
      
          <!-- Step 2 -->
          <a routerLink="/guides/csr-gen" class="list-group-item list-group-item-action clickable d-flex align-items-center">
            <i class="fas fa-certificate fa-lg text-success me-3"></i>
            <div>
              <h5 class="mb-1">Step 2: Creating Your CSR and Obtaining Your Certificate</h5>
              <p class="mb-1 ">Learn how to create a CSR (Certificate Signing Request) and retrieve your certificate to validate your identity.</p>
            </div>
          </a>
      
          <!-- Step 3 -->
          <a routerLink="/guides/file-sign" class="list-group-item list-group-item-action clickable d-flex align-items-center">
            <i class="fas fa-file-signature fa-lg text-warning me-3"></i>
            <div>
              <h5 class="mb-1">Step 3: Signing Your Files</h5>
              <p class="mb-1 ">Follow our step-by-step instructions to sign your files and add an extra layer of authenticity.</p>
            </div>
          </a>
      
          <!-- Step 4 -->
          <a routerLink="/guides/upload-files" class="list-group-item list-group-item-action clickable d-flex align-items-center">
            <i class="fas fa-cloud-upload-alt fa-lg text-info me-3"></i>
            <div>
              <h5 class="mb-1">Step 4: Uploading and Sharing Signed Files</h5>
              <p class="mb-1 ">Learn how to securely upload your signed files and share them with trusted recipients.</p>
            </div>
          </a>
      
          <!-- Step 5 -->
          <a routerLink="/guides/file-view" class="list-group-item list-group-item-action clickable d-flex align-items-center">
            <i class="fas fa-file-alt fa-lg text-danger me-3"></i>
            <div>
              <h5 class="mb-1">Step 5: Viewing Signed Files</h5>
              <p class="mb-1">Access and review files that have been securely signed and certified.</p>
            </div>
          </a>
        </div>
    </div>
</div>

